.btnAddToCart{
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.blockBtnAddAndQuantity{
    display: flex;
}

.input-group-btn{
    display: none !important;
}
.divBtnAddToCart{
    margin-left: 20%;
}

.divFormQtyBtn{
    display: -webkit-box !important;
}